.cards-wrap {
  display: flex;
  padding: 20px;
  overflow-x: scroll;
}

.single-card {
  margin: 0 10px;
}

.card-img-box {
  position: relative;
}

.card-img {
  height: 235px;
  width: 176px;
  border-radius: 8px;
}

.card-img-tag {
  position: absolute;
  left: 7px;
  top: 7px;
  text-align: center;
  font-size: 12px;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 4px;
}

.card-info-box {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.card-info-box > * {
  margin: 5px 0;
}

.card-info-review {
  display: flex;
  align-items: center;
}

.card-info-review * {
  margin-right: 4px;
}

.card-star {
  height: 14px;
  width: 14px;
}

.review-info {
  color: #918e9b;
}
