header {
	background-color: #6c2984;
	background-image: linear-gradient(to right, #6c2984, #a326cf);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 10px;
}

.header-text-box span {
	font-family: "Inter", sans-serif;
	color: white;
}
