.logo {
	width: 50px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #ffffff;
	padding: 30px 25px;
	height: 70px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	z-index: 1;
}

.dark {
	background-color: #21222a;
}

.navlogo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 10px;
	margin-right: 10px;
}

.navlogo > * {
	padding: 5px;
}

.navlogo span {
	color: #61dafb;
	font-size: 24px;
	font-weight: 600;
}

.toggler {
	display: flex;
	align-items: center;
}

.toggler p {
	font-size: 0.625rem;
	font-weight: 600;
}

.toggler-slider {
	width: 25px;
	height: 13px;
	background-color: #2b283a;
	border-radius: 2rem;
	margin-inline: 7px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid black;
	box-sizing: content-box;
}

.dark .toggler-slider {
	border-color: white;
	background-color: #f5f5f5;
}

.toggler-slider-circle {
	height: 13px;
	width: 13px;
	background-color: white;
	border-radius: 50%;
}

.dark .toggler-slider-circle {
	background-color: black;
}

.toggler-light {
	color: #2b283a;
}

.dark .toggler-light {
	color: #918e9b;
}

.toggler-dark {
	color: #d5d4d8;
}

.dark .toggler-dark {
	color: #ffffff;
}

.dark .toggler-slider {
	justify-content: flex-end;
}
